<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Game_Of_Life.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Game_Of_Life.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Game_Of_Life.Properties.Settings>
            <setting name="BackGroundColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="GridColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="CellColor" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="GridHeight" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="GridWidth" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Time" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Seed" serializeAs="String">
                <value>2001</value>
            </setting>
        </Game_Of_Life.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Game_Of_Life.Properties.Settings>
            <setting name="HUDColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
        </Game_Of_Life.Properties.Settings>
    </applicationSettings>
</configuration>